.lichess-button-style {
    border-radius: 6px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extras__ {
    border-radius: 6px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.extras__div {
    text-align: center;
    color: red;
}

.lichess-img-style {
    max-width: 25px;
    aspect-ratio: 1;
}

.press-f-div {
    z-index: 300;
    position: relative;
    text-align: center;
    padding-top: 50%;
    padding-bottom: 50%;
    font-size: 100px;
    background-color: #000;
    color: white;
    border-radius: 5px;
}