.lichess-button-style {
    border-radius: 6px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lichess-img-style {
    max-width: 25px;
    aspect-ratio: 1;
}